:root{
    background: #6495ED;
    background: #7FFFD4;
}

header{
    background-color: white;
}

main{
    background-color: #7FFFD4;
}

main{
    height: calc(100vh - 10rem);
    display: flex;
}
